/* ==========================================================================
   Media Queries - Smaller than 1024px
   ========================================================================== */

@media all and (max-width: 1024px) and (min-width: 900px) {
    .inner {
        padding: 20px;
    }
     
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 16px;
    }
    h6 {
      font-size: 12px;
    }
    nav ul li {
        font-size: 12px;
    }
    nav ul li a {
    display: block; padding: 12px 14px;
    color: #757575; text-decoration: none;
    }
    .main-search .domain-search {
        margin: 60px auto;
    }
    .domain-search {
        margin: 24px auto;
        padding: 16px;
    }
    .jumbotron-website-builder h1 {
        font-size: 45px;
    }

    footer .inner .grid_4 {
        width: 23%;
        float: left;

    }

}
@media all and (max-width: 899px) and (min-width: 481px) {
    .logo {
        width: 100%;
        height: 100px;
    }
    .nav-bar {
        margin-top: 10px;
    }
    nav ul li {
        font-size: 12px;
    }
    nav ul li a {
    display: block; padding: 12px 9px;
    color: #757575; text-decoration: none;
    }
    .inner {
        padding: 10px;
    }
    .main-search .domain-search {
        margin: 30px auto;
    }   
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 12px;
    }
    .domain-search {
        margin: 12px auto;
        padding: 8px;
    }
    .grid_50 {
        width: 100%;
        display: block;
        float: none;
    }
    .grid_50_inner {
        padding: 25px 8px;
    }
    .jumbotron-website-builder h1 {
        font-size: 40px;
    }
    .grid_3 {
        width: 48%;
        float: left;
        margin: 5px;
        display: block;
    }
    footer .inner .grid_4 {
        width: 48%;
        float: left;

    }
    .single-product-4 {
        display: block;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .single-product {
        display: block;
        float: none;
        width: 100%;
        margin: 0px;
    }
    .grid_3 {
        width: 100%;
        float: left;
        margin: 5px;
        display: block;
    }
    .tinynav { display: block }
      #nav, #nav2 { display: none }
      #nav {
        margin-top: -50px;
      }
    .main-search .domain-search {
        margin: 10px auto;
    }  

}

/* ==========================================================================
   Media Queries - Smaller than 500px
   ========================================================================== */


@media all and (max-width:480px) and (min-width: 250px) {
    .logo {
        width: 100%;
        height: 100px;
    }
    .nav-bar {
        margin-top: 2px;
    }
    .tinynav { display: block }
      #nav, #nav2 { display: none }
      #nav {
        margin-top: -50px;
      }
    .main-search .domain-search {
        margin: 10px auto;
    }   
    nav ul li {
        font-size: 12px;
    }
    nav ul li a {
    display: block; padding: 12px 9px;
    color: #757575; text-decoration: none;
    }
    .inner {
        padding: 10px;
    }
    .main-search .domain-search {
        margin: 30px auto;
    }   
    h1, h2 {
      font-size: 22px;
    }
    h3, h4 {
      font-size: 17px;
    }
    h5, h6  {
      font-size: 14px;
    }
    .domain-search {
        margin: 12px auto;
        padding: 8px;
    }
    .grid_50 {
        width: 100%;
        display: block;
        float: none;
    }
    .grid_50_inner {
        padding: 25px 8px;
    }
    .jumbotron-website-builder h1 {
        font-size: 30px;
    }
    .grid_3 {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0px;
        display: block;
    }
    .single-product-4 {
        display: block;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .single-product {
        display: block;
        float: none;
        width: 100%;
        margin: 0px;
    }
    footer .inner .grid_4 {
        width: 100%;
        float: left;

    }
    .grid_3 {
        width: 100%;
        float: left;
        margin: 0px;
        display: block;
    }


}

/* ==========================================================================
   Responsive Shopping Cart
   ========================================================================== */

@media all and (max-width:700px) and (min-width: 10px) {   
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tbody {
        margin-top: 20px;
    }
     .search-domain-results td { 
        border-bottom: 1px solid #ddd;
      }
    .shopping-cart-main td {
        border-bottom: 1px solid #ddd;  
    }
    td { 
        background-color: #fff;
        position: relative;
        white-space: normal;
        text-align:left;
        text-align: center;
    }
 
    td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    td:before { content: attr(data-title); 
    }
}
